<%# if current_user%>
  <%#= current_user.id %>
<%# end %>

<h1>Welcome to Inti</h1>

<% if !current_user %>

<!-- form to log in -->
<form action="/login" method="post">
  <label>User Name</label>
  <input name="user_name" type="text" placeholder="user_name">

  <label>Password</label>
  <input name="password" type="password" placeholder="password">
  
  <button>Log In</button>
</form>
<br>


<form action="/users/new" method="get">
 <button>Sign Up</button>
</form>

<br>
<% else %>
<form action="/logout" method="post">
  <input name="_method" value="DELETE" type="hidden">
<button>Logout</button>
</form>

<% end %>

<h2>About</h2>
<p> Access and submit research papers for free!</p>


<h2>Publications</h2>
 <ul>
  <% @publications.each do |publication| %>
   <li> 
    <%= link_to(publication.title, publication_path(publication))%> - 
    Synopsis: <%= publication.synopsis %> 
    Author: <%= publication.user.user_name %> 
    Publication Date: <%= publication.publication_date %>
   </li>
  <% end %>
</ul>




<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <li><%= user.user_name %></li>
  <% end %>
</ul>
<%#= @users.inspect %>