<%= form_for(@publication, {html: {class: "form-group"}}) do |f| %>
	<div class = "form-group">
		<%= f.label(:title) %>
		<%= f.text_field :title, :class => 'form-control' %>
	</div>

	<div <class = "form-group">
		<%= f.label(:publication_date) %>
		<%= f.date_field :publication_date, :class => 'form-control' %>
	</div>

		<div <class = "form-group" >
		<%= f.label(:topic_id) %>
		<%= f.collection_select(:topic_id, @topics.all, :id, :name) %>
	</div>

	<div < class = "form-group" >
		<%= f.label(:synopsis) %>
		<%= f.text_area :synopsis, :class => 'form-control' %>
	</div>

	<div < class = "form-group" >
		<%= f.label(:file) %>
		<%= f.file_field :file %>
	</div> 


	<%= f.submit({class: "btn btn-success"}) %>
<% end %>