<%= "Welcome #{current_user.user_name}" if current_user%>
<!-- button to access your profile -->
<form action="/users/index" method="get">
 <button>Go to profile</button>
</form>

<%= button_to "logout", {:controller => :sessions, :action => 'destroy'},
 :method => :delete %>

<h1>Welcome to Your Publications</h1>

<% if current_user%>
<ul>
	<% current_user.publications.each do |publication| %>
		<li>
		<%= link_to(publication.title, publication_path(publication))%>
		, <%= publication.publication_date %></li>
		<%# publication.synopsis %>
	<% end %>
</ul>
<% end %>




<!-- <ul>
	<li><%= Publication.inspect %></li>
    <li><%= Publication.count %></li>
    <li><%= Publication.last.synopsis %></li>
    <li><%= Publication.first.user.user_name %></li>
 </ul> 
 -->






 




