<%= current_user.user_name if current_user%>


<h1>Welcome to Publications</h1>
<p>Find me in app/views/publications/index.html.erb</p>


<form action="/logout" method="post">
	<input name="_method" value="DELETE" type="hidden">
<button>Logout</button>
</form>

<!-- forms for more publications -->
<form action="/publications/index" method="post">
<input name="title" type="text" placeholder="title">
<input name="publication_date" type="date" placeholder="DD-MM-YYYY">
<input name="synopsis" type="text" placeholder="synopsis">
<button>Add Information</button>
</form>



<% if current_user%>
	<% current_user.publications.each do |publication| %>
		<%= publication.title %>
		<%= publication.publication_date %>
		<%= publication.synopsis %>
	<% end %>
<% end %>






<!-- <ul>
	<li><%= Publication.inspect %></li>
    <li><%= Publication.count %></li>
    <li><%= Publication.last.synopsis %></li>
    <li><%= Publication.first.user.user_name %></li>
 </ul> 
 -->






 




