

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date Published</th>
            <th>Synopsis</th>
            <th>Topic</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= @publication.title %></td>
            <td><%= @publication.user.user_name %></td>
            <td><%= @publication.publication_date %></td>
            <td><%= @publication.synopsis %></td>
            <td><%= @publication.topic.name %></td>
        </tr>
 </table>
<br>

<%= link_to 'Download Paper', @publication.file_url %>
<%#= image_tag publication.file_url.to_s %>

<% if current_user and @publication.user.id == current_user.id %>
<%= button_to "edit", {:controller => :publications, :action => 'edit'},
 :method => :get %>

 <%= button_to "delete", publication_path, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>


 <%= link_to 'Back', publications_path %>