<!DOCTYPE html>
<html>
<head>
  <title>IntiApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> -->
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class ="container">
	<% if current_user %>
		<ul class="nav nav-pills">
			<li role="presentation"><%= link_to 'Home', action: 'landing', controller: 'static_pages'%></li>
			<li role="presentation"><%= link_to 'All Publications', controller: 'publications'%></li>
			<li role="presentation"><%= link_to 'Add a Publication', publications_new_path %></li>
			<li><%= link_to 'Log Out', logout_path, method: :delete %></li>
		</ul>
	<% else %>
		<%= link_to 'Log In', login_path, :class => 'btn btn-info' %>
		<%= link_to 'Sign Up', users_new_path, :class => 'btn btn-warning' %>
	<% end %>



	<%= yield %>
</div>

</body>
</html>
